node_modules
.DS_Store
dist
dist-ssr
*.local

package-lock.json
yarn.lock
.idea
src/routeTree.gen.ts
/backend/src/db/migrations/
backend/.env
backend/.env.devel
./scripts/venv/
test
.vscode
.tanstack
scripts/venv